.table-wrapper {
  overflow: auto;
  max-height: 50rem;
  max-width: 50rem;

  & .table {
    border: 0.1rem solid rgb(221, 221, 221);
    border-collapse: collapse;

    & .column-header,
    & .table-data {
      border: 0.1rem solid rgb(221, 221, 221);
      height: 5rem;
      min-width: 5rem;
    }

    & .top {
      z-index: 2;
    }

    & .column-header {
      padding: 0 1rem;
    }

    & .stick-left {
      position: sticky;
      left: -0.09rem;
    }

    & .stick-top {
      position: sticky;
      top: -0.09rem;
    }

    & .stick-bottom {
      position: sticky;
      bottom: -0.09rem;
    }

    & .corner {
      z-index: 3;
    }

    & .gray {
      background-color: rgb(238, 238, 238);
    }

    & .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .split {
      display: flex;
      justify-content: space-between;
    }

    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}
