.table-wrapper {
    max-width: 70rem;
    overflow: scroll;
}

.table {
    position: relative;
    border: .1rem solid rgb(221, 221, 221);
    border-collapse: collapse;
}

.table-data, .column-header {
    white-space: nowrap;
    border: .1rem solid rgb(221, 221, 221);
    padding: 2rem;
    text-align: center;
}

.column-header {
    background-color: rgb(238, 238, 238);
    position: -webkit-sticky;
    position: sticky;
    top: -.1rem;
    z-index: 2;
}

.column-header:first-child {
    left: 0;
    z-index: 3;
}

.table-body .table-row .table-data:first-child {
    background-color: rgb(238, 238, 238);
    position: -webkit-sticky;
    position: sticky;
    left: -.1rem;
    text-align: left;
}

.table-footer .table-row .table-data:first-child {
    background-color: rgb(238, 238, 238);
    position: -webkit-sticky;
    position: sticky;
    left: -.1rem;
    text-align: left;
}