.table-wrapper {
    max-width: 50rem;
    max-height: 30rem;
    overflow: scroll;
}

.table {
    position: relative;
    border: .1rem solid rgb(221, 221, 221);
    border-collapse: collapse;
}

.table-data, .column-header, .table-corner {
    white-space: nowrap;
    border: .1rem solid rgb(221, 221, 221);
    padding: 2rem;
    text-align: center;
}

.column-header {
    background-color: rgb(238, 238, 238);
    position: sticky;
    top: -.1rem;
    z-index: 2;
}

.table-corner {
    background-color: rgb(238, 238, 238);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
}

.table-body .table-row .table-data:first-child,
.table-footer .table-row .table-data:first-child {
    background-color: rgb(238, 238, 238);
    position: sticky;
    left: -.1rem;
    text-align: left;
    z-index: 2;
}

.row-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}