html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, sans-serif;
  color: rgb(51, 51, 51);
}

html,
body {
  height: 98%;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-align: unset;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
