html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, sans-serif;
  color: rgb(51, 51, 51);
}

html,
body {
  height: 98%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
