html {
    font-size: 62.5%;
}

body {
    display: flex;
    font-family: -apple-system, sans-serif;
    color: rgb(51, 51, 51);
    justify-content: center;
}

html, body {
    margin: 2rem;
    padding: 0;
    height: 100%;
}

header {
    height: 10px;
}